
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-title category-title">
                    <h1 class="title-head"><a href="#">Giới Thiệu</a></h1>
                </div>
                <div class="content-page rte">
                    <p><span style="font-size:11pt"><strong><em>1. Thông tin về công ty IDP</em></strong></span></p><p style="text-align: justify;"><span style="font-size:11pt">IDP luôn nỗ lực tìm kiếm nguồn sữa tươi tự nhiên và chất lượng nhất với mong muốn đem nguồn sữa này đến cho hàng triệu gia đình Việt. Chúng tôi tin rằng chỉ những đàn bò tự do, sống theo bản năng tự nhiên mới có thể cho ra dòng sữa thật sự tự nhiên và bổ dưỡng.<br>Tập đoàn Pactum Dairy, Úc luôn tâm niệm đóng góp cho cộng đồng những sản phẩm tốt, uy tín đạt tiêu chuẩn chất lượng của Úc thông qua giá trị dinh dưỡng cao cấp của sản phẩm và công nghệ sản xuất tiên tiến nhất.<br>Vì thế, IDP và tập đoàn Pactum luôn không ngừng hướng đến việc tạo ra các sản phẩm dinh dưỡng trên triết lý giữ gìn nguyên vẹn những gì thiên nhiên đã ban tặng cho con người, hợp tác cùng các đối tác có uy tín cao trong ngành hàng sữa&nbsp;nhằm tạo ra những sản phẩm tự nhiên tươi ngon và an toàn bậc nhất.</span></p><p><strong>2. </strong><span style="font-size:11pt"><strong><em>Tầm nhìn</em></strong></span></p><p style="text-align:justify"><span style="font-size:11pt">Chúng tôi luôn hướng đến việc tạo ra các sản phẩm dinh dưỡng trên triết lý tôn trọng và giữ gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các giải pháp dinh dưỡng và công nghệ tiên tiến nhất, hợp tác với các đối tác dinh dưỡng, công nghệ hàng đầu thế giới, tìm kiếm và phát triển các vùng nguyên liệu tự nhiên được thiên nhiên chọn lọc, ưu đãi trong nước lẫn nước ngoài, tất cả nhằm tạo ra các sản phẩm dinh dưỡng tự nhiên tươi ngon cho người tiêu dùng Việt Nam.</span></p><p><span style="font-size:11pt"><strong><em>3. Sứ mệnh</em></strong></span></p><p><em><span style="font-size:11pt">- Đối với xã hội:</span></em></p><p><span style="font-size:11pt">Hài hòa lợi ích doanh nghiệp với lợi ích xã hội, tích cực cùng&nbsp;cộng đồng xây dựng môi trường sống bền vững.</span></p><p><span style="font-size:11pt"><em>- Đối với nhân viên:</em></span></p><p><span style="font-size:11pt">Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn. Tạo điều kiện thu&nbsp;nhập cao và cơ hội phát triển cho&nbsp;tất cả&nbsp;nhân viên.</span></p><p><span style="font-size:11pt"><em>- Đối với cổ đông &amp; đối tác:</em></span></p><p><span style="font-size:11pt">Đề cao tinh thần hợp tác cùng phát triển, cam kết trở thành “Người đồng hành số 1” của các đối tác và cổ đông; luôn gia tăng các giá trị đầu tư hấp dẫn và lâu dài.</span></p><p><span style="font-size:11pt"><em>- Đối với thị trường:</em></span></p><p><span style="font-size:11pt">Cung cấp các sản phẩm với chất lượng quốc tế và phù hợp với con người Việt Nam. Áp dụng công nghệ tiên tiến phối hợp với giải pháp dinh dưỡng mang tính&nbsp;tự nhiên nhất để thỏa mãn tối đa nhu cầu dinh dưỡng của khách hàng.</span></p>
                </div>
                <div class="section section-brand mb-5 mt-5 ">
              
                </div>
            </div>
        </div>
    </div>
</section>

